@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}